

// Variables globales para la realizacion del portafolio


:root{
    --bg-body: hsl(250,60%,99%);
    --font-famiyly: 'Montserrat', 'sans-serif';
    --text-color: hsl(250,8%,45%);
    --title-color: hsl(250,8%,15%);
    --first-color:   hsl(211,100%,50%);
    --second-color: hsl(250, 57%,53%);
    --back: #647bff;
    --body-color: #090a1a;
}