
// Configuraciones globales del proyecto

@import './mixin';
@import './variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

html, body {
    font-family: var(--font-famiyly);
    background: var(--bg-body);
}

a {
    text-decoration: none;
}

li{
    list-style: none;
}

button{
    outline:none;
    border: none;
    background-color: transparent;
}

@media (max-width: 800px){
    body {
        padding-top: 5rem;
    }
}