@import '../../assets/css/mixin';

#contenedor {
    @include display(center, center);
    height: 100vh;

    #info{
        font-size: 1.7rem;
        gap:1rem;
    }

    .btn-cv{
        padding: 1rem 1.2rem;
        background-color: var(--first-color);
        color: white;
        border-radius: 0.7rem;
        font-weight: 500;
    }

    h3 {
        font-size: 2.5rem;
        font-weight: 600;
    }
}

